html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://stackblitz.com/files/slice-decimal-2135-rjm/github/MilanRyan/slice-decimal-rjm-2135/main/hand-drawn-abstract-background-free-vector.jpg);
  padding: 30px;
  width: 100%;
}

.decimal,
.slice {
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: rgba(124, 14, 14, 0.1);
  margin-right: 20px;
  color: black;
  font-size: 25px;
  font-family: 'Staatliches', cursive;
}
