html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://stackblitz.com/files/currency-pipe-rjm-2135-xzqmff/github/MilanRyan/currency2-pipe-rjm-2135/main/hand-drawn-abstract-background-free-vector.jpg);
  padding: 30px;
  width: 100%;
  box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.12);
}

.card {
  background-image: url();
  width: 350px;
  height: 100px;
  padding: 5px;
  background-color:pink;
}
.p {
  color: black;
  text-align: center;
}
.title {
  text-align: center;
  padding-bottom: 20px;
}
